# URL Base da API OmniLaudo (Backend Java)
VITE_API_URL=http://localhost:3001/api/v1

# URL Base do Mock Modality para upload de DICOM (API de testes)
VITE_MOCK_MODALITY_URL=http://localhost:8081/api/v1
